<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Delivery Food</title>
</head>
<body>

  <header class="header">
    <div class="container">
      <div class="header__inner">

        <a href="index.html" class="header__logo logo">
          <img src="img/logo.svg" alt="Delivery Food">
        </a>

        <div class="header__input input input--address">
          <input type="text" placeholder="Адрес доставки">
        </div>

        <div class="header__btns">
          <button class="btn btn--login">Войти</button>
          <button class="btn btn--white btn--cart">Корзина</button>
        </div>

      </div>
    </div>
  </header>

  <main class="main">

    <section class="restaurant section">
      <div class="container">
        <div class="restaurant__inner">

          <div class="restaurant__header section__header">
            <h1 class="restaurant__title section__title">Тануки</h1>
            <div class="cards-info">
              <div class="cards-info__body">
                <p class="cards-info__stars">4.2</p>
                <p class="cards-info__price">От 950 ₽</p>
                <p class="cards-info__category">Суши, роллы</p>
              </div>
            </div>
          </div>

          <ul class="cards__list">
            <li class="cards__item cards-item">
              <a href="#!" class="cards-item__img">
                <img src="img/restaurant-1.jpg" alt="">
              </a>
              <div class="cards-item__info cards-info">
                <div class="cards-info__header">
                  <h3 class="cards-info__name cards-info__name--product">
                    <a href="#!" class="cards-info__link">Ролл угорь стандарт</a>
                  </h3>
                </div>
                <div class="cards-info__body">
                  <p class="cards-info__descr">Рис, угорь, соус унаги, кунжут, водоросли нори.</p>
                </div>
                <div class="cards-info__bottom">
                  <button class="cards-info__btn btn btn--to-cart">В корзину</button>
                  <p class="cards-info__bottom-price">200 ₽</p>
                </div>
              </div>
            </li>
            <li class="cards__item cards-item">
              <a href="#!" class="cards-item__img">
                <img src="img/restaurant-2.jpg" alt="Калифорния лосось стандарт">
              </a>
              <div class="cards-item__info cards-info">
                <div class="cards-info__header">
                  <h3 class="cards-info__name cards-info__name--product">
                    <a href="#!" class="cards-info__link">Калифорния лосось стандарт</a>
                  </h3>
                </div>
                <div class="cards-info__body">
                  <p class="cards-info__descr">Рис, лосось, авокадо, огурец, майонез, икра масаго, водоросли нори.</p>
                </div>
                <div class="cards-info__bottom">
                  <button class="cards-info__btn btn btn--to-cart">В корзину</button>
                  <p class="cards-info__bottom-price">395 ₽</p>
                </div>
              </div>
            </li>
            <li class="cards__item cards-item">
              <a href="#!" class="cards-item__img">
                <img src="img/restaurant-3.jpg" alt="Окинава стандарт">
              </a>
              <div class="cards-item__info cards-info">
                <div class="cards-info__header">
                  <h3 class="cards-info__name cards-info__name--product">
                    <a href="#!" class="cards-info__link">Окинава стандарт</a>
                  </h3>
                </div>
                <div class="cards-info__body">
                  <p class="cards-info__descr">Рис, креветка отварная, сыр сливочный, лосось, огурец свежий...</p>
                </div>
                <div class="cards-info__bottom">
                  <button class="cards-info__btn btn btn--to-cart">В корзину</button>
                  <p class="cards-info__bottom-price">320 ₽</p>
                </div>
              </div>
            </li>
            <li class="cards__item cards-item">
              <a href="#!" class="cards-item__img">
                <img src="img/restaurant-4.jpg" alt="Цезарь маки хl">
              </a>
              <div class="cards-item__info cards-info">
                <div class="cards-info__header">
                  <h3 class="cards-info__name cards-info__name--product">
                    <a href="#!" class="cards-info__link">Цезарь маки хl</a>
                  </h3>
                </div>
                <div class="cards-info__body">
                  <p class="cards-info__descr">Рис, куриная грудка копченая, икра масаго, томат, айсберг, соус цезарь...</p>
                </div>
                <div class="cards-info__bottom">
                  <button class="cards-info__btn btn btn--to-cart">В корзину</button>
                  <p class="cards-info__bottom-price">450 ₽</p>
                </div>
              </div>
            </li>
            <li class="cards__item cards-item">
              <a href="#!" class="cards-item__img">
                <img src="img/restaurant-5.jpg" alt="Ясай маки стандарт 185 г">
              </a>
              <div class="cards-item__info cards-info">
                <div class="cards-info__header">
                  <h3 class="cards-info__name cards-info__name--product">
                    <a href="#!" class="cards-info__link">Ясай маки стандарт 185 г</a>
                  </h3>
                </div>
                <div class="cards-info__body">
                  <p class="cards-info__descr">Рис, помидор свежий, перец болгарский, авокадо, огурец, айсберг</p>
                </div>
                <div class="cards-info__bottom">
                  <button class="cards-info__btn btn btn--to-cart">В корзину</button>
                  <p class="cards-info__bottom-price">250 ₽</p>
                </div>
              </div>
            </li>
            <li class="cards__item cards-item">
              <a href="#!" class="cards-item__img">
                <img src="img/restaurant-6.jpg" alt="Ролл с креветкой стандарт">
              </a>
              <div class="cards-item__info cards-info">
                <div class="cards-info__header">
                  <h3 class="cards-info__name cards-info__name--product">
                    <a href="#!" class="cards-info__link">Ролл с креветкой стандарт</a>
                  </h3>
                </div>
                <div class="cards-info__body">
                  <p class="cards-info__descr">Рис, водоросли нори, креветки отварные, сыр сливочный, огурцы</p>
                </div>
                <div class="cards-info__bottom">
                  <button class="cards-info__btn btn btn--to-cart">В корзину</button>
                  <p class="cards-info__bottom-price">280 ₽</p>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </section>

  </main>

  <div class="popup popup--cart">
    <div class="popup__inner">

      <div class="popup__header section__header">
        <h2 class="popup__title section__title">Корзина</h2>
        <button class="popup__close"></button>
      </div>

      <ul class="popup__list">
        <li class="popup__item popup-item empty-cart">
          Корзина пуста
        </li>
        <!-- <li class="popup__item popup-item">
          <p class="popup-item__name">Ролл угорь стандарт</p>
          <p class="popup-item__price">250 ₽</p>
          <div class="popup-item__counter">
            <button class="btn btn--blue-border" data-action="minus">-</button>
            <p class="popup-item__quantity">1</p>
            <button class="btn btn--blue-border" data-action="plus">+</button>
          </div>
        </li> -->
      </ul>
  
      <div class="popup__bottom">
        <div class="popup__total-price">0 ₽</div>
        <div class="popup__btns">
          <button class="btn">Оформить заказ</button>
          <button class="btn btn--white" data-action="cancel">Отмена</button>
        </div>
      </div>

    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="footer__inner">

        <a href="#!" class="footer__logo logo">
          <img src="img/logo.svg" alt="Delivery Food">
        </a>

        <nav class="footer__nav nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#!" class="nav__link">Ресторанам </a>
            </li>
            <li class="nav__item">
              <a href="#!" class="nav__link">Курьерам</a>
            </li>
            <li class="nav__item">
              <a href="#!" class="nav__link">Пресс-центр</a>
            </li>
            <li class="nav__item">
              <a href="#!" class="nav__link">Контакты</a>
            </li>
          </ul>
        </nav>

        <ul class="footer__socials socials">
          <li class="socials__item">
            <a href="#!" class="socials__link socials__link--instagram"></a>
          </li>
          <li class="socials__item">
            <a href="#!" class="socials__link socials__link--facebook"></a>
          </li>
          <li class="socials__item">
            <a href="#!" class="socials__link socials__link--vk"></a>
          </li>
        </ul>

      </div>
    </div>
  </footer>

  <script src="js/script.js"></script>
</body>
</html>